.container{
    padding: 24px 44px 12px 44px;
    border: 1px solid #fe900046;
    border-radius: 4px;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 2px;
}
.container .card{
    border-radius: 2px !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    padding: 8px 16px;
    border: 2px solid #b4b4b42b;
    box-shadow: 0 0 4px #353535;
}
.card .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.card .right button{
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #ff7b00;
    color: white;
    cursor: pointer;
}
.card .right img{
    width: 140px;
    height: 140px;
}
.typebox{
    height: 16px;
    width: 16px;
}